<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: New TwinNote Note Head Font</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2012/11/new-twinnote-note-head-font/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2012/11/new-twinnote-note-head-font/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: (Another) New Revised Note Head Style &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2012/11/new-twinnote-note-head-font/#comment-195</link>
		<dc:creator><![CDATA[(Another) New Revised Note Head Style &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Fri, 01 Nov 2013 01:52:48 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1126#comment-195</guid>
		<description><![CDATA[[&#8230;] it&#8217;s something in the fall weather that makes a body want to refine note head shapes&#8230; About this time last year I created a new, more rounded TwinNote note head style, and recently I&#8217;ve come up with a [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] it&#8217;s something in the fall weather that makes a body want to refine note head shapes&#8230; About this time last year I created a new, more rounded TwinNote note head style, and recently I&#8217;ve come up with a [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: SVG Images, Rests, LilyPond 2.17 &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2012/11/new-twinnote-note-head-font/#comment-161</link>
		<dc:creator><![CDATA[SVG Images, Rests, LilyPond 2.17 &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Tue, 04 Jun 2013 22:16:02 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1126#comment-161</guid>
		<description><![CDATA[[...] of the images on the site so that they have TwinNote&#8217;s newer &#8220;rounded-triangle&#8221; note heads.  This lead me to improve the positioning of rests (when using LilyPond to create sheet music in [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] of the images on the site so that they have TwinNote&#8217;s newer &#8220;rounded-triangle&#8221; note heads.  This lead me to improve the positioning of rests (when using LilyPond to create sheet music in [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: LilyPond, Key Signatures, Accidental Signs, Etc. &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2012/11/new-twinnote-note-head-font/#comment-149</link>
		<dc:creator><![CDATA[LilyPond, Key Signatures, Accidental Signs, Etc. &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Tue, 05 Feb 2013 04:42:19 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1126#comment-149</guid>
		<description><![CDATA[[...] Note Head Font The new note head font is starting to make its way through the site.  This includes the new pages mentioned above, the [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Note Head Font The new note head font is starting to make its way through the site.  This includes the new pages mentioned above, the [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>