/* Last big revision: March 8, 2013 */

/* was -2em, adjusts left-right menu position */
#access ul {
  margin-left: -1em;
}

p#tagline {
  margin: 0; /*was 6% 8.2% */
}

.audiovisualizer {
  padding: 1.5em 0% 3.5em;
  /* margin-right:-14%; */
}

/* Staff and notes */

.notecontainer {
  background: #fff
    url(/wp/wp-content/themes/twinnote/images/TWNTaudiovisualizer/staff-twin-0.png)
    0px -165px;
  margin-bottom: 0px;
  height: 180px; /* 290px 340px */
  clear: both;
}

ul.note_series {
  padding-left: 30px; /* 1.5% on left */
}

ul.note_series li, /* notes */
ul.note_series li span, /* ledgers and captions */
ul.note_series li span span, /* interval notes */
ul.note_series li span span span {
  /* interval ledgers and captions */
  /* determine the spacing for the note labels and below */
  /* change for game to 170px on top, otherwise it covers the keyboard controls */
  padding-top: 170px;
}

/* UI Controls */

#feedback {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 0 0 30px; /* was 1.4em with small size text, then was 0.5em top and bottom */
  margin: -30px 0 0;
  color: #000;
  min-height: 25px;
  width: 330px;
  text-align: left;
}

.controls ul {
  float: none;
}

#subcontrols {
  clear: both;
}

#keyboard_div {
  display: block;
  height: 206px;
}
#keys_piano {
  display: block;
}
#piano-octave2a,
#piano-octave2b,
#string-octave2,
#sixsix-octave2a,
#sixsix-octave2b {
  display: none;
}
.narrowkey_li {
  width: 26px;
}
#keyboardlayouts {
  padding: 20px 0;
}
#keyboardlayouts ul li {
  float: none;
  display: block;
}

#intervalsbuttons {
  margin-top: 26px;
}

#time,
#score {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 3px 12px;
  margin: 4px 0.2em;
  font-weight: 500;
  background: rgb(221, 221, 221);
  /* color:#fff; */
  min-width: 4.5em;
  text-align: center;
}
