#page {
  width: 1000px;
} /* TWNT for audiovisualizer on mobile screens */
#access {
  margin-bottom: 20px;
}
/* #access ul { margin-left: -2em;} /* adjusts left-right menu position*/
p#tagline {
  margin: 0 7.6%; /*was 8.2%, then 6% */
  font-size: 0.9em; /* was .8em */
}
#main {
  padding-top: 0;
}

#load-message {
  color: #999;
  padding: 0px 5%;
  font-weight: normal;
  font-size: 0.8em;
}
#load-content {
  display: none;
}

/* AudiVisualizer */

.audiovisualizer {
  /* 
	padding: 0em 5% 1em; 
	min-width:720px;
	*/
  padding: 1.5em 7.6% 3.5em; /* was 5% left and right */
}
.audiovisualizer a,
.audiovisualizer a:focus,
.audiovisualizer a:active,
.audiovisualizer a:hover {
  text-decoration: none;
}
/* .entry-title {display:none;} */
.entry-content {
  padding-top: 0;
}

#notes_title {
  font-size: 0.7em;
  padding: 0.5em 0 0 1%; /*was 1.4em with small size text */
  margin-top: 0em;
  color: #aaa;
  display: none;
}

/* Staff and notes */

.notecontainer {
  background: #fff
    url(/wp/wp-content/themes/twinnote/images/TWNTaudiovisualizer/staff-twin-0.png)
    0px -105px; /*  0px -63px; */
  background-repeat: repeat-x;
  width: 100%;
  /* margin: -5px 0 15px; */
  margin: -50px 0 25px;
  height: 290px; /* 340px */
  /* border:0px solid green; */
}

ul.note_series {
  margin: 0;
  padding: 0 0 0 1.5%;
  width: 98.5%;
  display: block;
  overflow: auto; /* for scrollbars */
  white-space: nowrap;
  text-align: left;
  list-style: none;
}

/* ul#note_series:hover {overflow:auto; } */

ul.note_series li, /* notes */
ul.note_series li span, /* ledgers (and captions?)*/
ul.note_series li span span, /* interval notes */
ul.note_series li span span span {
  /* interval ledgers (and captions?)*/
  width: 46px;
  display: inline-block;
  margin: 0 21px 0 0; /*11 and 11,  15px */
  padding: 230px 0 10px; /* was 290px 0 0px  /* where you determine the spacing for the note labels and below, bottom-padding was 30px */
  text-align: center;
  color: #aaa;
  background: url(/wp/wp-content/themes/twinnote/images/TWNTaudiovisualizer/TwinNote-notes11.png)
    no-repeat;
  background-position: 0 0;
  /* border:0px solid blue; */
}

ul.note_series li span {
  font-size: small;
  z-index: 1;
}
ul.note_series li span span span {
  font-size: 0.85em;
  z-index: 2;
  margin: 0;
}

/* UI Controls */
#main_controls_wrapper {
  min-height: 60px; /* 180px; */
}

.controls {
  /* padding-top: 1.5em; */
  z-index: 1;
  text-align: left;
  display: inline-block;
  clear: both;
  font-size: 0.75em;
  line-height: 1.2em;
}
.controls ul {
  margin: 0 1em 0em 0;
  padding: 0;
  display: block;
  clear: both;
  float: left;
}
.controls ul li {
  margin: 0px;
  padding: 0em 0.2em;
  list-style-type: none;
  float: left;
}

.controls a,
.pseudo-a {
  /* pseudo-a is for the "Major Scale" headings spacing */
  border: 1px solid #bbb;
  background: #f9f9f9;
  padding: 3px 12px 3px;
  border-radius: 4px;
  display: inline-block;
  margin: 4px 0 0;
  text-align: center;
}

.pseudo-a {
  border: 1px solid #fff;
  background: #fff;
}

.controls a:hover {
  background: #dde6ec; /* #ddd; cfdcfe   bbccff*/
  text-decoration: none;
}

.controls a:active {
  background: #d4dff7;
}

.scalebutton {
  min-width: 130px;
}
.playbutton {
  min-width: 105px;
}
.controlbutton {
  min-width: 70px;
}
.intbutton2 {
  min-width: 37px;
}
.intbutton1 {
  min-width: 70px;
} /*was 20px, then 68px */
.melodybutton {
  min-width: 300px;
}

#volumeControl {
  display: none;
}
#keyboardControl {
  display: none;
}
/*
#clearStaff { display:none; }
*/

/*
#blackKeyScales1, #blackKeyScales2, #blackKeyScales3, #blackKeyScales4, #blackKeyScales5 {
	display:none;
}
*/

/* #play_controls {display:none;} */
#scalesbuttons {
  display: none;
}
#intervalsbuttons {
  display: none;
}
#melodiesbuttons {
  display: none;
}

/*///// Controls Spacing */
#notation_controls {
  padding-bottom: 0em;
}
#play_controls,
#intervals_controls1 {
  padding-bottom: 1.5em;
}

#subcontrols {
  margin: 0;
  padding: 0;
}

/* Keyboards */
#keyboard_div {
  margin: 0px 0 10px;
  height: 106px;
  display: none;
}
#keys_piano {
  display: none;
  float: left;
  margin-bottom: 10px;
}
#keys_1row {
  display: none;
  float: left;
  margin-bottom: 57px;
}
#keys_sixsix {
  display: none;
  float: left;
  margin-bottom: 10px;
}

.keyboard_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.keyboard_ul li {
  display: inline-block;
  margin: 1px;
}

.keyboard_li,
.narrowkey_li {
  list-style: none;
  margin: 0;
  padding: 2px;
  width: 26px;
  height: 39px;
  border: 1px solid #777;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: xx-small;
  font-family: Verdana, Tahoma, Geneva, sans-serif;
}
.narrowkey_li {
  width: 14px;
  font-size: 0.5em;
}

.keyboard_li:hover {
  color: #666;
  text-decoration: none;
}

.whitekey {
  background: #eee;
  color: #666;
}
.whitekey:hover {
  background: #dde6ec;
}
.whitekey:active {
  background: #d4dff7;
}

.blackkey {
  background: #ddd;
  color: #666;
}
.blackkey:hover {
  background: #dde6ec;
}
.blackkey:active {
  background: #d4dff7;
}

.nokey {
  background: none;
  border: 1px solid #fff;
}

/* .row1{} */
.row2 {
  margin-left: 0px;
}

#keyboardlayouts {
  font-size: 0.65em;
  clear: both;
}

#keyboardlayouts ul {
  margin: 0;
  padding: 0;
}
#keyboardlayouts ul li {
  margin: 0px;
  padding: 0em 15px;
  list-style-type: none;
  display: inline-block;
  float: left;
}
#keyboardlayouts a {
  color: #777;
}
#keyboardlayouts a:hover,
#keyboardlayouts a:active {
  text-decoration: underline;
  color: #1982d1;
}

/* Drop-down menus */

.JSmenu {
  z-index: 30;
}

.JSmenu a {
}

.JSmenu div {
  position: absolute;
  visibility: hidden;
  margin: 1px 0 0;
  padding: 0px;
  background: #fff;
  border: 2px solid #bbb;
  border-radius: 4px;
}

.JSmenu div a {
  position: relative;
  display: block;
  margin: 0;
  padding: 8px 10px;
  width: auto;
  white-space: nowrap;
  border: 0px;
  border-radius: 0px;
  text-align: left;
}

#m1,
#m2 {
  z-index: 100;
}

/* to deal with older browsers */
#no_HTML5_audio {
  font-size: small;
  display: none;
}
#ie7 {
  display: none;
  font-size: large;
  padding: 0 80px;
}
