/*
Theme Name:     TwinNote Twenty-Eleven Child
Theme URI:      
Description:    A child theme based on the Twenty Eleven theme, for TwinNote.org site.
Author:         Paul Morris
Author URI:     
Template:       twentyeleven
Version:        0.1.0
*/

@import url("/wp/wp-content/themes/twentyeleven/style.css");

body {
  padding-left: 0.7em;
  padding-right: 0.7em;
} /* TWNT */

#clairnote-message {
  text-align: center;
  font-size: 11px;
  margin-top: 7px;
  margin-bottom: -4px;
}

#clairnote-message a {
  color: #373737;
  text-decoration: underline;
}

#page {
  margin: 0.7em auto 2em; /* TWNT was 2em on top */
  border: 2px solid rgb(190, 190, 190); /* was #adbecb */
}

#secondary {
  margin-top: 2.2em;
}

.page #content {
  /* TWNT just for pages */
  margin-right: 7.6%;
  width: auto; /* was 74% before auto - the music theory width.  was 72% with sidebar, 82% is centered */
}

/* =Structure
----------------------------------------------- */

#access div {
  margin-left: 6.6%; /* was 7.6% */
}

/* =Global
----------------------------------------------- */
body,
input,
textarea {
  /*color: #373737;*/
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif; /* was 15px*/
  font-weight: 400; /*was 300, 400 is same as "normal" */
  line-height: 1.625;
}
body {
  background: rgb(210, 210, 210); /* was #C3D2DE */
}
ul {
  list-style: none;
}

#content ul {
  list-style: disc;
}

#content .smalltext {
  font-size: 0.8em;
}

a[rel="external"] {
  /*TWNT*/
  background: url(/wp/wp-content/themes/twinnote/images/external.png) no-repeat
    100% 60%;
  padding-right: 15px;
}
ie6 a[rel="external"],
#ie7 a[rel="external"],
ie8 a[rel="external"] {
  background: none;
  padding-right: none;
}

/* =Header
----------------------------------------------- */

#branding {
  border: none; /*TWNT was #bbb */
  padding-bottom: 0px; /* TWNT */
  position: relative;
  z-index: 2;
}
/*
#site-title { padding: 1.7em 0 0; /*TWNT was:2  3.65625em top 
}
#site-title a:hover, 
#site-title a:focus, 
#site-title a:active {
	color: #000; /*TWNT was  #1982d1; 
}
*/
#branding img {
  margin-bottom: 0px; /* was -7 */
  margin-top: -0.9em; /*TWNT was -2 for larger staff*/
  height: 80px; /*TWNT keeps page text from jumping down when image is slower to load*/
}

/* =Menu
-------------------------------------------------------------- */

#access {
  background: #fff; /* Show a solid color for older browsers, was #222 */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 36px auto 10px; /* was: 0 auto 6px, then 8px auto 10px */
}
#access ul {
  font-size: 16px; /*TWNT was 13px */
  margin: 0 0 0 -1em; /* adjusts left-right menu position */
}
#access a {
  color: #111; /*TWNT was eee*/
  line-height: 2em; /* was 3.333em; */
  /* padding: 0 1.2125em; */
  text-decoration: none;
}
#access ul ul {
  /* subpages */
  /* -moz-box-shadow: none;  0 3px 3px rgba(0,0,0,0.2); 
	-webkit-box-shadow: none;  0 3px 3px rgba(0,0,0,0.2); 
	box-shadow: none; 0 3px 3px rgba(0,0,0,0.2); */
  /*position: absolute;*/
  top: 2em; /* was 3.333em; */
  /* left: 0;
	width: 188px;*/
  border: 1px solid #888; /*TWNT */
  /* border-top-left-radius: 5px; */
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #ddd;
}
#access ul ul a {
  background: none; /* #e6e6e6; /* #f9f9f9; /*#ccc  */
  border-bottom: none; /* 1px dotted #ddd; */
  /*color: #444;*/
  font-size: 14px; /*was 13*/
  /*font-weight: normal;
	height: auto;
	line-height: 1.4em;*/
  padding: 6px 10px; /* was 10px top and bottom */
  /*width: 168px;*/
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
  background: #1982d1; /* for subpages #adbecb d4dff7 #1982d1 #efefef; #ccc; */
  border-radius: 0px;
  color: #fff; /*TWNT*/
}

#access li:hover > a,
#access a:focus {
  background: #1982d1; /* #1982d1;   for parent pages #333 #f9f9f9 #ccc Show a solid color for older browsers */
  color: #fff; /* #373737; */
  border-radius: 4px;
  border: none; /*TWNT */
}

/* don't bold the current page in the menu */
#access .current_page_item > a,
#access .current_page_ancestor > a,
#access .current-menu-item > a {
  font-weight: normal;
}

/* first link in main nav (Home) */
#menu-main-menu > li:first-child > a,
#menu-labs-menu > li:first-child > a {
  font-size: 22px;
  margin-top: -0.35em;
  font-weight: bold;
}
/* first link in labs menu */
#menu-labs-menu > li:first-child > a {
  font-size: 22px;
  margin-top: -0.35em;
  font-weight: bold;
}

#menu-main-menu > li:first-child > a:hover,
#menu-main-menu > li:first-child > a:focus,
#menu-labs-menu > li:first-child > a:hover,
#menu-labs-menu > li:first-child > a:focus {
  background: none;
  color: #1982d1;
}
/* 2nd link in main menu (Learn), since it's a drop-down menu */
#menu-main-menu > li:nth-child(2) > a,
#menu-main-menu > li:nth-child(2) > a:hover,
#menu-main-menu > li:nth-child(2) > a:focus,
#menu-labs-menu > li:nth-child(2) > a,
#menu-labs-menu > li:nth-child(2) > a:hover,
#menu-labs-menu > li:nth-child(2) > a:focus {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* last link in main menu (Blog) 
#menu-item-28, #menu-main-menu > li:last-child > a:hover,
#menu-item-28, #menu-main-menu > li:last-child > a:focus {
	border-radius: 4px;
}
*/

/* Search Form */
#branding #searchform {
  position: absolute;
  top: 0em; /*TWNT 2.3 3.8 */
  right: 5%; /* was 10 7.6% */
  /* text-align: right; */
}
/* input#s { /*TWNT
	border-top:0; 
	border-top-right-radius:0; 
	border-top-left-radius:0;
} 
*/

/* =Content
----------------------------------------------- */

#main {
  padding: 1.5em 0 0; /*was .2em / .5em / 1.625em 0 0 */
}

.page .entry-title {
  font-size: 30px;
}

.entry-content h2 {
  font-size: 24px;
  margin-top: 3em;
}

/* larger h2 headers on Sheet Music page */
.page-id-5 .entry-content h2 {
  font-size: 26px;
  border-top: 2px solid #999;
  padding-top: 20px;
  margin-top: 0;
}
.entry-content img {
  max-width: 100%; /* was 97.5% lets images be full width in posts */
  border: none;
  padding: 6px 0; /*TWNT*/
  background: none;
}
a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"],
#content .gallery .gallery-icon a:focus img,
#content .gallery .gallery-icon a:hover img,
#content .gallery .gallery-icon a:active img {
  /* Add some useful style to those fancy borders for linked images ... */
  background: none;
}
.entry-content, .entry-summary /* remove spacing before posts, due to removing "posted by..." */ {
  padding-top: 0.9em;
} /*was 1.625em */

#secondary .widget ul li /*TWNT added to space out links in sidebar*/ {
  /* margin-top: .5em ; */
  margin-bottom: 0.8em;
}
/*
.entry-meta {
	margin-top: -15px;
}
*/

/* =Footnotes
-------------------------------------------- */
div#footnotes {
  border-top: 2px solid #333;
  margin: 4em 1em 4em 0;
  padding: 1em 0 0;
  font-size: small;
  /* max-width: 58em; */
}
div#footnotes ol {
  margin: 1em 0; /*fixes IE */
  padding-left: 0; /*fixes IE */
}
div#footnotes li {
  margin: 0 0 2em 2.75em; /*left margin fixes IE */
}
sup.footnote {
  line-height: 0em;
}
sup.footnote a {
  font-size: 125%;
}
.return {
  background: url(/wp/wp-content/themes/twinnote/images/uptotext.png) no-repeat
    100% 40%;
  padding-right: 20px;
}

.hentry,
.no-results {
  border-bottom: 0px solid #ddd; /*TWNT no line*/
  /* margin: 0 0 1.625em; /* was 1.625em bottom */
  /* padding: 0 0 1.625em; */
}

/* =Navigation
-------------------------------------------------------------- */

/* Singular navigation */
#nav-single {
  float: left;
  text-align: left;
}

#content nav {
  margin-top: 20px;
}

/* =Widgets
------------------------------------------*/
.widget ul ul {
  margin-left: 0; /* was 1.5em then .9em*/
}
.widget-title {
  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 2em;
  font-weight: bold;
  text-transform: none;
}

/* =Comments
----------------------------------------------- */

#comments {
  margin-top: 5em;
}
.commentlist {
  margin: 0px 0px;
  width: 100%;
}

.commentlist > li.comment {
  margin-left: 17.5%;
}

.commentlist .pingback {
  padding: 0 0;
}

#reply-title {
  font-size: 20px;
}

/* Comment Form */

#respond {
  width: 89.5%;
  padding-bottom: 1em;
}

#respond .form-submit {
  float: none;
  margin-top: 0;
}

#respond input#submit {
  left: 0px;
  background-color: #666;
  padding: 5px 22px;
  margin: 10px 0px;
}

/* =Footer
----------------------------------------------- */

#supplementary {
  border-top: 3px solid #ddd;
  padding: 1.625em 7.6%; /* TWNT was 1.625em top and bottom, then 1em top,  */
}
/* #second .widget ul li { padding-bottom: 1em; } /* adds spacing to blog posts list */
/* #supplementary.three .widget-area { /*made narrower when blog posts were listed
	margin-right: 6.7%;
	width: 27.85%;
} */

/*for mobile screens*/
/* #footer-img { 
	height: auto;
	width: 100%;
} */
/*
.shareIcon {
	background-image:url(/wp/wp-content/themes/twinnote/images/shareicons.png); 
	background-repeat:no-repeat; 
	height:24px; 
	width:24px; 
	display:inline-block; 
	float:left; 
	padding:0 !important; 
	margin-right:5px;
}
.share_facebook {background-position:0px -24px; }
.share_twitter {background-position:0px -96px;}
.share_stumbleupon {background-position:0px -72px;}
.share_googlebuzz {background-position:0px -48px;}
.share_identica {background-position:0px -120px;}
.share_diaspora {background-position:0px -144px; display:none;}
.share_feed {background-position:0px -168px;}
*/

/* =Particular pages
-----------------------------------*/
.rightselector {
  float: right;
  border-left: 1px solid #999;
  padding: 1em 0 1em 1em;
  margin: 2em -4em 2em 1em;
  font-size: small;
  clear: both;
}

/* Influences page */
.scaleswapper {
  margin-top: 2em;
  margin-bottom: 3em;
  display: inline-block;
  font-size: small;
}
.scaleswapper ul {
  margin: 0 1em 0 0;
  padding: 0;
  display: inline-block;
  max-width: 60em;
}
.scaleswapper ul li {
  margin: 0px;
  padding: 0.7em 0.3em;
  list-style-type: none;
  float: left;
}
.notation-image-influences {
  margin-top: 2em;
}
.button-influences {
  border: 1px solid rgb(187, 187, 187);
  padding: 3px 12px;
  border-radius: 4px;
  background: rgb(249, 249, 249);
  text-decoration: none;
}
.button-influences:hover,
.button-influences:focus {
  text-decoration: none;
}
.button-influences:active {
  background: rgb(221, 230, 236);
  text-decoration: none;
}

/* =Music theory pages
-----------------------------------*/

/* ========== figure, subfigure & caption ========== */

.figure {
  margin: 1.5em 30px;
  /* text-align: center; */
  page-break-inside: avoid;
}

.figure-break {
  display: none;
}

.figure-contents {
  text-align: center;
  padding: 0.5em auto 0.75em;
}

.figure .caption {
  margin: 0.5em 0;
  font-size: 0.8em; /* TWNT */
  /* max-width: 70%;  TWNT added */
}

.figure .screen,
.figure .table {
  margin: 0;
}

.figure .title,
.table .title {
  /* text-align: center; */
  margin-bottom: 0.5em;
  font-size: 0.8em; /* TWNT added */
  margin-top: 2em; /* TWNT added */
}

/* this is only necessary due to abuse of docbook's section tag to stuff subfigures into it */
/* 
.figure .titlepage, .figure .titlepage h1{
  border: 0 !important;
  padding: 0 !important;
  color: black !important;
  font-size: 1em !important;
}

.figure .figure{
  margin: .75em 0;
}
*/

.note,
.warning {
  padding: 1.5em 1.5em;
  margin: 0.5em 0px 2em !important;
  border: 1px solid rgb(204, 204, 204);
  background: none repeat scroll 0% 0% rgb(221, 221, 221);
  border-radius: 5px 5px 5px 5px;
  font-size: 70%;
}

.note p,
.warning p {
  margin-bottom: 0;
}

.entry-content td {
  padding: 6px 8px;
  font-size: smaller;
}
