<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>TwinNote Music Notation</title>
	<atom:link href="https://twinnote.clairnote.org/feed/" rel="self" type="application/rss+xml" />
	<link>http://clairnote.org/twinnote</link>
	<description>A better music notation system</description>
	<lastBuildDate>Thu, 13 Mar 2014 01:09:02 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>TwinNote and Clairnote</title>
		<link>https://twinnote.clairnote.org/blog/2013/12/twinnote-clairnote/</link>
		<pubDate>Mon, 09 Dec 2013 17:53:39 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=2054</guid>
		<description><![CDATA[Recently I have shifted my focus from TwinNote to a new (or rather newly revised) alternative notation system called Clairnote.  TwinNote will not be going away but I expect that I will put my future efforts into Clairnote rather than &#8230; <a href="https://twinnote.clairnote.org/blog/2013/12/twinnote-clairnote/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		</item>
		<item>
		<title>Fine-Tuning Note Head Styles</title>
		<link>https://twinnote.clairnote.org/blog/2013/10/fine-tuning-note-head-styles/</link>
		<pubDate>Fri, 01 Nov 2013 01:52:43 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=2005</guid>
		<description><![CDATA[Maybe it&#8217;s something in the fall weather that makes a body want to refine note head shapes&#8230; About this time last year I created a new, more rounded TwinNote note head style, and recently I designed a new version that improves &#8230; <a href="https://twinnote.clairnote.org/blog/2013/10/fine-tuning-note-head-styles/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		</item>
		<item>
		<title>Brown Cows Eat Grass, Ducks Fly Away</title>
		<link>https://twinnote.clairnote.org/blog/2013/09/brown-cows-eat-grass-ducks-fly-away/</link>
		<pubDate>Mon, 30 Sep 2013 22:33:47 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=1977</guid>
		<description><![CDATA[If you have ever learned to read traditional music notation, you probably remember the mnemonic devices you used to learn the lines and spaces of the staff. Something like &#8220;Every Good Boy Does Fine&#8221; for the lines of the treble &#8230; <a href="https://twinnote.clairnote.org/blog/2013/09/brown-cows-eat-grass-ducks-fly-away/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		</item>
		<item>
		<title>John Barleycorn and The Blue Danube Waltz in TwinNote</title>
		<link>https://twinnote.clairnote.org/blog/2013/08/john-barleycorn-blue-danube-waltz-twinnote/</link>
		<pubDate>Wed, 28 Aug 2013 03:13:52 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=1759</guid>
		<description><![CDATA[As the summer begins to wind down it&#8217;s time for some new music in TwinNote. Two new works have just landed on the sheet music page: Johann Strauss Jr.&#8217;s famous Blue Danube Waltz for piano (well, just the main theme), &#8230; <a href="https://twinnote.clairnote.org/blog/2013/08/john-barleycorn-blue-danube-waltz-twinnote/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		</item>
		<item>
		<title>Whole Notes, Accidental Signs, Key Signatures (LilyPond Improvements)</title>
		<link>https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/</link>
		<comments>https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/#comments</comments>
		<pubDate>Sun, 23 Jun 2013 16:46:01 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=1698</guid>
		<description><![CDATA[There are some new improvements to the rendering of TwinNote by LilyPond, thanks to a new revision of the twinnote-scripts.ly file.  These include wider note heads for whole notes, better spacing and handling of accidental signs, and improved code for &#8230; <a href="https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		<wfw:commentRss>https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>SVG Images, Rests, LilyPond 2.17</title>
		<link>https://twinnote.clairnote.org/blog/2013/06/svg-images-rests-lilypond-2-17/</link>
		<pubDate>Tue, 04 Jun 2013 22:13:02 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=1673</guid>
		<description><![CDATA[I recently re-created most of the images on the site so that they have TwinNote&#8217;s newer &#8220;rounded-triangle&#8221; note heads.  This lead me to improve the positioning of rests (when using LilyPond to create sheet music in TwinNote), and upgrade to &#8230; <a href="https://twinnote.clairnote.org/blog/2013/06/svg-images-rests-lilypond-2-17/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		</item>
		<item>
		<title>Greensleeves Sheet Music in TwinNote</title>
		<link>https://twinnote.clairnote.org/blog/2013/05/greensleeves-sheet-music-in-twinnote/</link>
		<pubDate>Sat, 25 May 2013 15:54:06 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=1574</guid>
		<description><![CDATA[Just a quick post to say that the traditional English melody &#8220;Greensleeves,&#8221; arranged for four-part vocal harmony, is now available in TwinNote from the Sheet Music page.  Like most of the other TwinNote sheet music on that page, this piece &#8230; <a href="https://twinnote.clairnote.org/blog/2013/05/greensleeves-sheet-music-in-twinnote/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		</item>
		<item>
		<title>Tonality for the Win</title>
		<link>https://twinnote.clairnote.org/blog/2013/04/tonality-for-the-win/</link>
		<pubDate>Mon, 08 Apr 2013 05:19:55 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=1543</guid>
		<description><![CDATA[Playing the TwinNote note and interval identification game (on the practice page) was not always that musically pleasing&#8230;  until now.  When playing on the &#8220;all notes&#8221; setting (naturals, sharps, and flats) the notes used to be selected at random from &#8230; <a href="https://twinnote.clairnote.org/blog/2013/04/tonality-for-the-win/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		</item>
		<item>
		<title>New Version of the TwinNote Note and Interval Identification Game</title>
		<link>https://twinnote.clairnote.org/blog/2013/03/new-version-of-the-twinnote-note-and-interval-identification-game/</link>
		<comments>https://twinnote.clairnote.org/blog/2013/03/new-version-of-the-twinnote-note-and-interval-identification-game/#comments</comments>
		<pubDate>Sun, 31 Mar 2013 21:06:59 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=1495</guid>
		<description><![CDATA[On the practice page you will find a new version of the note and interval identification game.  In the previous version it would only show one note or interval at a time (like flash cards), but now it can show &#8230; <a href="https://twinnote.clairnote.org/blog/2013/03/new-version-of-the-twinnote-note-and-interval-identification-game/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		<wfw:commentRss>https://twinnote.clairnote.org/blog/2013/03/new-version-of-the-twinnote-note-and-interval-identification-game/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>LilyPond, Key Signatures, Accidental Signs, Etc.</title>
		<link>https://twinnote.clairnote.org/blog/2013/02/lilypond-key-signatures-accidental-signs-etc/</link>
		<pubDate>Tue, 05 Feb 2013 03:51:31 +0000</pubDate>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://twinnote.org/?p=1336</guid>
		<description><![CDATA[It has been a productive couple of months on various fronts, especially with ongoing work on LilyPond and TwinNote (adventures in coding in Scheme). Here is a progress report from early 2013. Key Signatures I revised TwinNote&#8217;s alternative key signatures, &#8230; <a href="https://twinnote.clairnote.org/blog/2013/02/lilypond-key-signatures-accidental-signs-etc/">Continue reading <span class="meta-nav">&#8594;</span></a>]]></description>
		</item>
	</channel>
</rss>