<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: TwinNote AudioVisualizer</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2011/01/twinnote-audiovisualizer/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2011/01/twinnote-audiovisualizer/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: TwinNote Blog &#8212; Fine-Tuning TwinNote, Part One</title>
		<link>https://twinnote.clairnote.org/blog/2011/01/twinnote-audiovisualizer/#comment-11</link>
		<dc:creator><![CDATA[TwinNote Blog &#8212; Fine-Tuning TwinNote, Part One]]></dc:creator>
		<pubDate>Tue, 29 Mar 2011 05:24:12 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=116#comment-11</guid>
		<description><![CDATA[[...] January as I was working on the new AudioVisualizer home page I realized that what I had been calling the &#8220;Max 6-6&#8243; version of TwinNote [...] ]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] January as I was working on the new AudioVisualizer home page I realized that what I had been calling the &#8220;Max 6-6&#8243; version of TwinNote [&#8230;] </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Paul Morris</title>
		<link>https://twinnote.clairnote.org/blog/2011/01/twinnote-audiovisualizer/#comment-10</link>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
		<pubDate>Fri, 18 Feb 2011 03:58:56 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=116#comment-10</guid>
		<description><![CDATA[I&#039;m not a legal expert, but my understanding is that alternative notation systems are not considered authored works (like creative works of art or written works) so are not covered by copyright protection.  

It may be possible to patent an alternative notation system as an invention.  Some have or have tried, but it is not clear whether those patents would hold up if legally challenged.  I have not filed for a patent on TwinNote, and do not have plans to do so.

Legal matters aside, my approach is that I want TwinNote to be free from any encumbrance that might hinder its use.  If someone uses it for something other than private use, then attribution and a link to the TwinNote website would be appreciated. 

Note that the content of the TwinNote *website* is licensed under a creative commons license. But that does not cover the TwinNote notation system itself. 
http://twinnote.org/about/index.html#creativecommons]]></description>
		<content:encoded><![CDATA[<p>I&#8217;m not a legal expert, but my understanding is that alternative notation systems are not considered authored works (like creative works of art or written works) so are not covered by copyright protection.  </p>
<p>It may be possible to patent an alternative notation system as an invention.  Some have or have tried, but it is not clear whether those patents would hold up if legally challenged.  I have not filed for a patent on TwinNote, and do not have plans to do so.</p>
<p>Legal matters aside, my approach is that I want TwinNote to be free from any encumbrance that might hinder its use.  If someone uses it for something other than private use, then attribution and a link to the TwinNote website would be appreciated. </p>
<p>Note that the content of the TwinNote *website* is licensed under a creative commons license. But that does not cover the TwinNote notation system itself.<br />
<a href="http://twinnote.org/about/index.html#creativecommons" rel="nofollow">http://twinnote.org/about/index.html#creativecommons</a></p>
]]></content:encoded>
	</item>
	<item>
		<title>By: C.J. Wang</title>
		<link>https://twinnote.clairnote.org/blog/2011/01/twinnote-audiovisualizer/#comment-9</link>
		<dc:creator><![CDATA[C.J. Wang]]></dc:creator>
		<pubDate>Sun, 06 Feb 2011 03:29:56 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=116#comment-9</guid>
		<description><![CDATA[Is TwinNote in public domain?]]></description>
		<content:encoded><![CDATA[<p>Is TwinNote in public domain?</p>
]]></content:encoded>
	</item>
</channel>
</rss>