<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Beethoven&#8217;s Für Elise in TwinNote, Typeset with LilyPond</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2012/04/beethovens-fur-elise-in-twinnote-typeset-with-lilypond/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2012/04/beethovens-fur-elise-in-twinnote-typeset-with-lilypond/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: TJ Martley</title>
		<link>https://twinnote.clairnote.org/blog/2012/04/beethovens-fur-elise-in-twinnote-typeset-with-lilypond/#comment-110</link>
		<dc:creator><![CDATA[TJ Martley]]></dc:creator>
		<pubDate>Fri, 29 Jun 2012 18:35:14 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=802#comment-110</guid>
		<description><![CDATA[Isn&#039;t it great that we can find such quality free versions of great sheet music online nowadays?  I sometimes have to check my students scores, but most of them are very good.

Here&#039;s my renditions of Fur Elise:  http://www.youtube.com/watch?v=x-O0qb66AoQ

Thanks!
Tj
tjjazzpiano.blogspot.com]]></description>
		<content:encoded><![CDATA[<p>Isn&#8217;t it great that we can find such quality free versions of great sheet music online nowadays?  I sometimes have to check my students scores, but most of them are very good.</p>
<p>Here&#8217;s my renditions of Fur Elise:  <a href="http://www.youtube.com/watch?v=x-O0qb66AoQ" rel="nofollow">http://www.youtube.com/watch?v=x-O0qb66AoQ</a></p>
<p>Thanks!<br />
Tj<br />
tjjazzpiano.blogspot.com</p>
]]></content:encoded>
	</item>
</channel>
</rss>