<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: LilyPond Templates for TwinNote</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2012/11/lilypond-templates-for-twinnote/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2012/11/lilypond-templates-for-twinnote/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: New TwinNote Note Head &#34;Font&#34; &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2012/11/lilypond-templates-for-twinnote/#comment-123</link>
		<dc:creator><![CDATA[New TwinNote Note Head &#34;Font&#34; &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Fri, 09 Nov 2012 16:44:42 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1105#comment-123</guid>
		<description><![CDATA[[...] working on LilyPond Templates for TwinNote I revised the note head shapes to make them more aesthetically pleasing and easier to read.  Here [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] working on LilyPond Templates for TwinNote I revised the note head shapes to make them more aesthetically pleasing and easier to read.  Here [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>