<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: New Version of the TwinNote Note and Interval Identification Game</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2013/03/new-version-of-the-twinnote-note-and-interval-identification-game/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2013/03/new-version-of-the-twinnote-note-and-interval-identification-game/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: Tonality for the Win &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2013/03/new-version-of-the-twinnote-note-and-interval-identification-game/#comment-151</link>
		<dc:creator><![CDATA[Tonality for the Win &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Mon, 08 Apr 2013 05:20:00 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1495#comment-151</guid>
		<description><![CDATA[[...] notes of the chromatic scale.  Needless to say, the result would sound quite atonal.  Before these changes, you would actually hear a tone row as in Schoenberg&#8217;s twelve-tone technique, where each note [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] notes of the chromatic scale.  Needless to say, the result would sound quite atonal.  Before these changes, you would actually hear a tone row as in Schoenberg&#8217;s twelve-tone technique, where each note [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>