<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: SVG Images, Rests, LilyPond 2.17</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2013/06/svg-images-rests-lilypond-2-17/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2013/06/svg-images-rests-lilypond-2-17/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
</channel>
</rss>