<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Website Launched for TwinNote Music Notation</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2009/06/website-launched/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2009/06/website-launched/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: encalayAliecy</title>
		<link>https://twinnote.clairnote.org/blog/2009/06/website-launched/#comment-2</link>
		<dc:creator><![CDATA[encalayAliecy]]></dc:creator>
		<pubDate>Mon, 02 Nov 2009 11:17:33 +0000</pubDate>
		<guid isPermaLink="false">http://musicnotation.twinnote.org/blog/?p=1#comment-2</guid>
		<description><![CDATA[Other variant is possible also]]></description>
		<content:encoded><![CDATA[<p>Other variant is possible also</p>
]]></content:encoded>
	</item>
</channel>
</rss>