<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: LilyPond Software with TwinNote</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2011/07/lilypond-software-with-twinnote/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2011/07/lilypond-software-with-twinnote/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: Paul Morris</title>
		<link>https://twinnote.clairnote.org/blog/2011/07/lilypond-software-with-twinnote/#comment-122</link>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
		<pubDate>Thu, 23 Aug 2012 21:44:47 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=201#comment-122</guid>
		<description><![CDATA[Thanks for the comment.  So you are proposing keeping the positions and directions of the triangles the same, but having the notes in the current key be hollow/white and those outside the current key be solid/black.  Which notes are black and white would change from key to key.  That might be an interesting approach, if more complex.  

The main drawback I see is that it would make notes and intervals harder to learn and recognize because their appearance would be less consistent.  I would rather have greater consistency.  You just have to shift how you think about the diatonic scale, no longer as something that needs to be &#039;built-in&#039; to the staff (as in traditional notation) or the notes (as you&#039;re proposing) but as a particular pattern of intervals that you learn to easily recognize (see &lt;a href=&quot;http://twinnote.org/learn/scales/&quot; rel=&quot;nofollow&quot;&gt;Scales&lt;/a&gt;).  Making the interval relationships as clear as possible is the top priority, and then the diatonic scales and the rest will follow.  

Another way to put it is that whether a note is black or white is a very obvious, vivid aspect of a note, probably &lt;em&gt;the&lt;/em&gt; most readily apparent thing about a note.  Wouldn&#039;t it be better to use this to help distinguish pitches and interval patterns than to &quot;waste&quot; it on just indicating accidental notes?  It is already easy to tell if a note is an accidental because it would have one of TwinNote&#039;s &lt;a href=&quot;http://twinnote.org/learn/key-signatures-and-accidental-signs/&quot; rel=&quot;nofollow&quot;&gt;alternative accidental signs&lt;/a&gt;.]]></description>
		<content:encoded><![CDATA[<p>Thanks for the comment.  So you are proposing keeping the positions and directions of the triangles the same, but having the notes in the current key be hollow/white and those outside the current key be solid/black.  Which notes are black and white would change from key to key.  That might be an interesting approach, if more complex.  </p>
<p>The main drawback I see is that it would make notes and intervals harder to learn and recognize because their appearance would be less consistent.  I would rather have greater consistency.  You just have to shift how you think about the diatonic scale, no longer as something that needs to be &#8216;built-in&#8217; to the staff (as in traditional notation) or the notes (as you&#8217;re proposing) but as a particular pattern of intervals that you learn to easily recognize (see <a href="http://twinnote.org/learn/scales/" rel="nofollow">Scales</a>).  Making the interval relationships as clear as possible is the top priority, and then the diatonic scales and the rest will follow.  </p>
<p>Another way to put it is that whether a note is black or white is a very obvious, vivid aspect of a note, probably <em>the</em> most readily apparent thing about a note.  Wouldn&#8217;t it be better to use this to help distinguish pitches and interval patterns than to &#8220;waste&#8221; it on just indicating accidental notes?  It is already easy to tell if a note is an accidental because it would have one of TwinNote&#8217;s <a href="http://twinnote.org/learn/key-signatures-and-accidental-signs/" rel="nofollow">alternative accidental signs</a>.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Jo Blow</title>
		<link>https://twinnote.clairnote.org/blog/2011/07/lilypond-software-with-twinnote/#comment-121</link>
		<dc:creator><![CDATA[Jo Blow]]></dc:creator>
		<pubDate>Thu, 23 Aug 2012 03:17:32 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=201#comment-121</guid>
		<description><![CDATA[I think you should change the notion a little to make it more logical. The half steps between E and F and B and C cause the diatonic notes to C above E to be &quot;flipped&quot; making one think that they are chromatic. e.g., below E the black triangles are diatonic and above E the are chromatic. 

Instead, On F use a UPWARD triangular white note. So E has a downward white note and F has an upward white note on the same line. This means a simple C major scale is all white notes with those below F point down and those above E pointing up.

What this means is that diatonic melodies will all be white notes in a very compact way and it also becomes easier to distinguish C D E from F G A B. Chromatic alterations are extremely obvious(black notes).

One could use a transposing system so that the order is always the same on different tonics. e.g., for whatever key we are in the half-steps do this flip-flop. This will produce diatonic melodies, regardless of key, to have all white notes.]]></description>
		<content:encoded><![CDATA[<p>I think you should change the notion a little to make it more logical. The half steps between E and F and B and C cause the diatonic notes to C above E to be &#8220;flipped&#8221; making one think that they are chromatic. e.g., below E the black triangles are diatonic and above E the are chromatic. </p>
<p>Instead, On F use a UPWARD triangular white note. So E has a downward white note and F has an upward white note on the same line. This means a simple C major scale is all white notes with those below F point down and those above E pointing up.</p>
<p>What this means is that diatonic melodies will all be white notes in a very compact way and it also becomes easier to distinguish C D E from F G A B. Chromatic alterations are extremely obvious(black notes).</p>
<p>One could use a transposing system so that the order is always the same on different tonics. e.g., for whatever key we are in the half-steps do this flip-flop. This will produce diatonic melodies, regardless of key, to have all white notes.</p>
]]></content:encoded>
	</item>
</channel>
</rss>