<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: The Two Versions of TwinNote</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2010/02/the-two-versions-of-twinnote/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2010/02/the-two-versions-of-twinnote/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: TwinNote Blog &#8212; Fine-Tuning TwinNote, Part One</title>
		<link>https://twinnote.clairnote.org/blog/2010/02/the-two-versions-of-twinnote/#comment-8</link>
		<dc:creator><![CDATA[TwinNote Blog &#8212; Fine-Tuning TwinNote, Part One]]></dc:creator>
		<pubDate>Tue, 29 Mar 2011 05:25:32 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=50#comment-8</guid>
		<description><![CDATA[[...] January as I was working on the new AudioVisualizer home page I realized that what I had been calling the &#8220;Max 6-6&#8243; version of TwinNote should be the official, default version of TwinNote. [...] ]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] January as I was working on the new AudioVisualizer home page I realized that what I had been calling the &#8220;Max 6-6&#8243; version of TwinNote should be the official, default version of TwinNote. [&#8230;] </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Doug Keislar</title>
		<link>https://twinnote.clairnote.org/blog/2010/02/the-two-versions-of-twinnote/#comment-7</link>
		<dc:creator><![CDATA[Doug Keislar]]></dc:creator>
		<pubDate>Wed, 10 Feb 2010 18:21:19 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=50#comment-7</guid>
		<description><![CDATA[Barrett,

Your reaction to the Max 6-6 version is totally understandable for someone familiar with traditional notation.  But see:

http://musicnotation.org/tutorials/noteheadcolor.html

In fact, traditional notation is very wasteful in its use of what is probably the single most easily perceptible feature of the notation, the distinction between black and white noteheads.  It makes sense to put this feature to better use -- for example, by helping the reader quickly discriminate between pitches.  You can keep traditional duration almost intact (just coming up with a new symbol for the half note or quarter note), while making a huge improvement in the legibility of pitches.  Sure, one can tell the difference between a triangle and an inverted triangle, but when you&#039;re trying to sight-read a page containing a few hundred notes, and perhaps reading it from a music stand a couple of feet away, adding the much greater difference between black and white is a big benefit.  It allows the music to be read more easily, or alternatively to be printed smaller than otherwise -- the latter being a big win for orchestra scores and the like.

Paul says it took him a long time to realize this benefit, which is why he doesn&#039;t expect other people to right away.]]></description>
		<content:encoded><![CDATA[<p>Barrett,</p>
<p>Your reaction to the Max 6-6 version is totally understandable for someone familiar with traditional notation.  But see:</p>
<p><a href="http://musicnotation.org/tutorials/noteheadcolor.html" rel="nofollow">http://musicnotation.org/tutorials/noteheadcolor.html</a></p>
<p>In fact, traditional notation is very wasteful in its use of what is probably the single most easily perceptible feature of the notation, the distinction between black and white noteheads.  It makes sense to put this feature to better use &#8212; for example, by helping the reader quickly discriminate between pitches.  You can keep traditional duration almost intact (just coming up with a new symbol for the half note or quarter note), while making a huge improvement in the legibility of pitches.  Sure, one can tell the difference between a triangle and an inverted triangle, but when you&#8217;re trying to sight-read a page containing a few hundred notes, and perhaps reading it from a music stand a couple of feet away, adding the much greater difference between black and white is a big benefit.  It allows the music to be read more easily, or alternatively to be printed smaller than otherwise &#8212; the latter being a big win for orchestra scores and the like.</p>
<p>Paul says it took him a long time to realize this benefit, which is why he doesn&#8217;t expect other people to right away.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Paul Morris</title>
		<link>https://twinnote.clairnote.org/blog/2010/02/the-two-versions-of-twinnote/#comment-6</link>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
		<pubDate>Wed, 10 Feb 2010 17:22:25 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=50#comment-6</guid>
		<description><![CDATA[Hi Barrett, Thanks for the comment!  I&#039;ve revised the post and reordered the bullet points as you suggested.  It sounds like standard TwinNote is far and away your preferred version! 

In the Max 6-6 version duration symbols are the same as traditional except half notes have a double stem. See the illustration on the Max 6-6 page (http://twinnote.org/learn/max6-6version.html)  I&#039;m open to other possibilities for this but this seems like the best solution I&#039;ve seen.

As for software, that&#039;s great to hear you&#039;d be interested in this. See the Music Notation Project&#039;s efforts toward adding support for this to Lilypond (http://musicnotation.org/software/lilypond.html)  

Recently Andrew Wagner has set up a git repository for the chromatic staff patches, and would probably love some help with working on them (http://wiki.github.com/drewm1980/lilypond-an/)]]></description>
		<content:encoded><![CDATA[<p>Hi Barrett, Thanks for the comment!  I&#8217;ve revised the post and reordered the bullet points as you suggested.  It sounds like standard TwinNote is far and away your preferred version! </p>
<p>In the Max 6-6 version duration symbols are the same as traditional except half notes have a double stem. See the illustration on the Max 6-6 page (<a href="http://twinnote.org/learn/max6-6version.html" rel="nofollow">http://twinnote.org/learn/max6-6version.html</a>)  I&#8217;m open to other possibilities for this but this seems like the best solution I&#8217;ve seen.</p>
<p>As for software, that&#8217;s great to hear you&#8217;d be interested in this. See the Music Notation Project&#8217;s efforts toward adding support for this to Lilypond (<a href="http://musicnotation.org/software/lilypond.html" rel="nofollow">http://musicnotation.org/software/lilypond.html</a>)  </p>
<p>Recently Andrew Wagner has set up a git repository for the chromatic staff patches, and would probably love some help with working on them (<a href="http://wiki.github.com/drewm1980/lilypond-an/" rel="nofollow">http://wiki.github.com/drewm1980/lilypond-an/</a>)</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Barrett Koster</title>
		<link>https://twinnote.clairnote.org/blog/2010/02/the-two-versions-of-twinnote/#comment-5</link>
		<dc:creator><![CDATA[Barrett Koster]]></dc:creator>
		<pubDate>Wed, 10 Feb 2010 16:34:39 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=50#comment-5</guid>
		<description><![CDATA[In the explanation, keep &quot;TwinNote&quot; and &quot;TwinNote Max6-6&quot; in the same order.  You list them in this order to start, then the bullets are in the other order.  This is jarring.

As for the notation itself, I like the traditional use of solid/hollow to indicate duration.  In the TwinNoteMax6-6 version, how do you do duration?  I&#039;m skeptical.  And in any case, the double representation of pitch by shape and solid/hollow is redundant and therefore inefficient.  It&#039;s also pointless -- I can tell a pyramid from a yield sign just fine.  

Is it time to try to make a program to write this stuff, convert existing music?  I&#039;m ready.]]></description>
		<content:encoded><![CDATA[<p>In the explanation, keep &#8220;TwinNote&#8221; and &#8220;TwinNote Max6-6&#8221; in the same order.  You list them in this order to start, then the bullets are in the other order.  This is jarring.</p>
<p>As for the notation itself, I like the traditional use of solid/hollow to indicate duration.  In the TwinNoteMax6-6 version, how do you do duration?  I&#8217;m skeptical.  And in any case, the double representation of pitch by shape and solid/hollow is redundant and therefore inefficient.  It&#8217;s also pointless &#8212; I can tell a pyramid from a yield sign just fine.  </p>
<p>Is it time to try to make a program to write this stuff, convert existing music?  I&#8217;m ready.</p>
]]></content:encoded>
	</item>
</channel>
</rss>