<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Whole Notes, Accidental Signs, Key Signatures (LilyPond Improvements)</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: Paul Morris</title>
		<link>https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/#comment-183</link>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
		<pubDate>Thu, 27 Jun 2013 03:20:35 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1698#comment-183</guid>
		<description><![CDATA[Thanks Doug!  Good point about microtonal music, and I agree about the need to make whole notes more prominent.  Wider whole notes might also be needed if you had say a triad where the middle note was a whole note and the other two notes were quarter notes.  The different note heads would allow you to distinguish the different durations.  I suppose that would be fairly rare, and you could just work around it with tied notes.  In any case I think they it is more aesthetically pleasing to give them more weight in this way.]]></description>
		<content:encoded><![CDATA[<p>Thanks Doug!  Good point about microtonal music, and I agree about the need to make whole notes more prominent.  Wider whole notes might also be needed if you had say a triad where the middle note was a whole note and the other two notes were quarter notes.  The different note heads would allow you to distinguish the different durations.  I suppose that would be fairly rare, and you could just work around it with tied notes.  In any case I think they it is more aesthetically pleasing to give them more weight in this way.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Doug K</title>
		<link>https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/#comment-180</link>
		<dc:creator><![CDATA[Doug K]]></dc:creator>
		<pubDate>Mon, 24 Jun 2013 18:31:57 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1698#comment-180</guid>
		<description><![CDATA[Nice work.  The bigger whole notes make sense. I&#039;ve always assumed traditional notation uses bigger whole notes so that they aren&#039;t overlooked as easily, because their lack of stems might make them less noticeable than other notes otherwise.

The accidental spacing is a good tweak.  Those rare cases you mention are rare indeed! They might happen more often in microtonal music (which is itself rare), in which the &quot;enharmonic equivalents&quot; are actually different pitches.]]></description>
		<content:encoded><![CDATA[<p>Nice work.  The bigger whole notes make sense. I&#8217;ve always assumed traditional notation uses bigger whole notes so that they aren&#8217;t overlooked as easily, because their lack of stems might make them less noticeable than other notes otherwise.</p>
<p>The accidental spacing is a good tweak.  Those rare cases you mention are rare indeed! They might happen more often in microtonal music (which is itself rare), in which the &#8220;enharmonic equivalents&#8221; are actually different pitches.</p>
]]></content:encoded>
	</item>
</channel>
</rss>