<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: TwinNote Redesigned</title>
	<atom:link href="https://twinnote.clairnote.org/blog/2010/01/twinnote-redesigned/feed/" rel="self" type="application/rss+xml" />
	<link>https://twinnote.clairnote.org/blog/2010/01/twinnote-redesigned/</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>By: Music Notation Systems that Influenced TwinNote &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2010/01/twinnote-redesigned/#comment-12</link>
		<dc:creator><![CDATA[Music Notation Systems that Influenced TwinNote &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Tue, 19 Jul 2011 18:02:03 +0000</pubDate>
		<guid isPermaLink="false">http://musicnotation.twinnote.org/blog/?p=32#comment-12</guid>
		<description><![CDATA[[...] intervals have a more consistent appearance in TwinNote. (This delivers on the promise from this earlier post to further explain the reasoning behind the design of [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] intervals have a more consistent appearance in TwinNote. (This delivers on the promise from this earlier post to further explain the reasoning behind the design of [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: The Music Notation Project Blog &#8212; Chromatic Lyre Notation, Reverse-Color Express Stave, TwinNote, and More</title>
		<link>https://twinnote.clairnote.org/blog/2010/01/twinnote-redesigned/#comment-4</link>
		<dc:creator><![CDATA[The Music Notation Project Blog &#8212; Chromatic Lyre Notation, Reverse-Color Express Stave, TwinNote, and More]]></dc:creator>
		<pubDate>Tue, 17 May 2011 16:23:36 +0000</pubDate>
		<guid isPermaLink="false">http://musicnotation.twinnote.org/blog/?p=32#comment-4</guid>
		<description><![CDATA[[...] duration&#8221;), uses them to indicate duration, as in traditional notation.  Read more about the redesign on the TwinNote Blog.  (The original version of TwinNote remains on our site, now called [...] ]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] duration&#8221;), uses them to indicate duration, as in traditional notation.  Read more about the redesign on the TwinNote Blog.  (The original version of TwinNote remains on our site, now called [&#8230;] </p>
]]></content:encoded>
	</item>
	<item>
		<title>By: TwinNote Blog &#8212; Alternative Music Notation Systems that Influenced TwinNote</title>
		<link>https://twinnote.clairnote.org/blog/2010/01/twinnote-redesigned/#comment-3</link>
		<dc:creator><![CDATA[TwinNote Blog &#8212; Alternative Music Notation Systems that Influenced TwinNote]]></dc:creator>
		<pubDate>Tue, 14 Dec 2010 22:31:05 +0000</pubDate>
		<guid isPermaLink="false">http://musicnotation.twinnote.org/blog/?p=32#comment-3</guid>
		<description><![CDATA[[...] how intervals have a more consistent appearance in TwinNote. (This delivers on my promise in this earlier post to go into more detail on the thinking behind the (re-)design of [...] ]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] how intervals have a more consistent appearance in TwinNote. (This delivers on my promise in this earlier post to go into more detail on the thinking behind the (re-)design of [&#8230;] </p>
]]></content:encoded>
	</item>
</channel>
</rss>