<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for TwinNote Music Notation</title>
	<atom:link href="https://twinnote.clairnote.org/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://clairnote.org/twinnote</link>
	<description>A better music notation system</description>
	<lastBuildDate>Fri, 01 Nov 2013 01:52:48 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.6.1</generator>
	<item>
		<title>Comment on New TwinNote Note Head Font by (Another) New Revised Note Head Style &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2012/11/new-twinnote-note-head-font/#comment-195</link>
		<dc:creator><![CDATA[(Another) New Revised Note Head Style &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Fri, 01 Nov 2013 01:52:48 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1126#comment-195</guid>
		<description><![CDATA[[&#8230;] it&#8217;s something in the fall weather that makes a body want to refine note head shapes&#8230; About this time last year I created a new, more rounded TwinNote note head style, and recently I&#8217;ve come up with a [&#8230;]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] it&#8217;s something in the fall weather that makes a body want to refine note head shapes&#8230; About this time last year I created a new, more rounded TwinNote note head style, and recently I&#8217;ve come up with a [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Whole Notes, Accidental Signs, Key Signatures (LilyPond Improvements) by Paul Morris</title>
		<link>https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/#comment-183</link>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
		<pubDate>Thu, 27 Jun 2013 03:20:35 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1698#comment-183</guid>
		<description><![CDATA[Thanks Doug!  Good point about microtonal music, and I agree about the need to make whole notes more prominent.  Wider whole notes might also be needed if you had say a triad where the middle note was a whole note and the other two notes were quarter notes.  The different note heads would allow you to distinguish the different durations.  I suppose that would be fairly rare, and you could just work around it with tied notes.  In any case I think they it is more aesthetically pleasing to give them more weight in this way.]]></description>
		<content:encoded><![CDATA[<p>Thanks Doug!  Good point about microtonal music, and I agree about the need to make whole notes more prominent.  Wider whole notes might also be needed if you had say a triad where the middle note was a whole note and the other two notes were quarter notes.  The different note heads would allow you to distinguish the different durations.  I suppose that would be fairly rare, and you could just work around it with tied notes.  In any case I think they it is more aesthetically pleasing to give them more weight in this way.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Whole Notes, Accidental Signs, Key Signatures (LilyPond Improvements) by Doug K</title>
		<link>https://twinnote.clairnote.org/blog/2013/06/whole-notes-accidental-signs-key-signatures-lilypond-improvements/#comment-180</link>
		<dc:creator><![CDATA[Doug K]]></dc:creator>
		<pubDate>Mon, 24 Jun 2013 18:31:57 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1698#comment-180</guid>
		<description><![CDATA[Nice work.  The bigger whole notes make sense. I&#039;ve always assumed traditional notation uses bigger whole notes so that they aren&#039;t overlooked as easily, because their lack of stems might make them less noticeable than other notes otherwise.

The accidental spacing is a good tweak.  Those rare cases you mention are rare indeed! They might happen more often in microtonal music (which is itself rare), in which the &quot;enharmonic equivalents&quot; are actually different pitches.]]></description>
		<content:encoded><![CDATA[<p>Nice work.  The bigger whole notes make sense. I&#8217;ve always assumed traditional notation uses bigger whole notes so that they aren&#8217;t overlooked as easily, because their lack of stems might make them less noticeable than other notes otherwise.</p>
<p>The accidental spacing is a good tweak.  Those rare cases you mention are rare indeed! They might happen more often in microtonal music (which is itself rare), in which the &#8220;enharmonic equivalents&#8221; are actually different pitches.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on New TwinNote Note Head Font by SVG Images, Rests, LilyPond 2.17 &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2012/11/new-twinnote-note-head-font/#comment-161</link>
		<dc:creator><![CDATA[SVG Images, Rests, LilyPond 2.17 &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Tue, 04 Jun 2013 22:16:02 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1126#comment-161</guid>
		<description><![CDATA[[...] of the images on the site so that they have TwinNote&#8217;s newer &#8220;rounded-triangle&#8221; note heads.  This lead me to improve the positioning of rests (when using LilyPond to create sheet music in [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] of the images on the site so that they have TwinNote&#8217;s newer &#8220;rounded-triangle&#8221; note heads.  This lead me to improve the positioning of rests (when using LilyPond to create sheet music in [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on New Version of the TwinNote Note and Interval Identification Game by Tonality for the Win &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2013/03/new-version-of-the-twinnote-note-and-interval-identification-game/#comment-151</link>
		<dc:creator><![CDATA[Tonality for the Win &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Mon, 08 Apr 2013 05:20:00 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1495#comment-151</guid>
		<description><![CDATA[[...] notes of the chromatic scale.  Needless to say, the result would sound quite atonal.  Before these changes, you would actually hear a tone row as in Schoenberg&#8217;s twelve-tone technique, where each note [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] notes of the chromatic scale.  Needless to say, the result would sound quite atonal.  Before these changes, you would actually hear a tone row as in Schoenberg&#8217;s twelve-tone technique, where each note [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on New TwinNote Note Head Font by LilyPond, Key Signatures, Accidental Signs, Etc. &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2012/11/new-twinnote-note-head-font/#comment-149</link>
		<dc:creator><![CDATA[LilyPond, Key Signatures, Accidental Signs, Etc. &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Tue, 05 Feb 2013 04:42:19 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1126#comment-149</guid>
		<description><![CDATA[[...] Note Head Font The new note head font is starting to make its way through the site.  This includes the new pages mentioned above, the [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Note Head Font The new note head font is starting to make its way through the site.  This includes the new pages mentioned above, the [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on LilyPond Templates for TwinNote by New TwinNote Note Head &#34;Font&#34; &#124; Blog &#124; TwinNote Music Notation</title>
		<link>https://twinnote.clairnote.org/blog/2012/11/lilypond-templates-for-twinnote/#comment-123</link>
		<dc:creator><![CDATA[New TwinNote Note Head &#34;Font&#34; &#124; Blog &#124; TwinNote Music Notation]]></dc:creator>
		<pubDate>Fri, 09 Nov 2012 16:44:42 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=1105#comment-123</guid>
		<description><![CDATA[[...] working on LilyPond Templates for TwinNote I revised the note head shapes to make them more aesthetically pleasing and easier to read.  Here [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] working on LilyPond Templates for TwinNote I revised the note head shapes to make them more aesthetically pleasing and easier to read.  Here [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on LilyPond Software with TwinNote by Paul Morris</title>
		<link>https://twinnote.clairnote.org/blog/2011/07/lilypond-software-with-twinnote/#comment-122</link>
		<dc:creator><![CDATA[Paul Morris]]></dc:creator>
		<pubDate>Thu, 23 Aug 2012 21:44:47 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=201#comment-122</guid>
		<description><![CDATA[Thanks for the comment.  So you are proposing keeping the positions and directions of the triangles the same, but having the notes in the current key be hollow/white and those outside the current key be solid/black.  Which notes are black and white would change from key to key.  That might be an interesting approach, if more complex.  

The main drawback I see is that it would make notes and intervals harder to learn and recognize because their appearance would be less consistent.  I would rather have greater consistency.  You just have to shift how you think about the diatonic scale, no longer as something that needs to be &#039;built-in&#039; to the staff (as in traditional notation) or the notes (as you&#039;re proposing) but as a particular pattern of intervals that you learn to easily recognize (see &lt;a href=&quot;http://twinnote.org/learn/scales/&quot; rel=&quot;nofollow&quot;&gt;Scales&lt;/a&gt;).  Making the interval relationships as clear as possible is the top priority, and then the diatonic scales and the rest will follow.  

Another way to put it is that whether a note is black or white is a very obvious, vivid aspect of a note, probably &lt;em&gt;the&lt;/em&gt; most readily apparent thing about a note.  Wouldn&#039;t it be better to use this to help distinguish pitches and interval patterns than to &quot;waste&quot; it on just indicating accidental notes?  It is already easy to tell if a note is an accidental because it would have one of TwinNote&#039;s &lt;a href=&quot;http://twinnote.org/learn/key-signatures-and-accidental-signs/&quot; rel=&quot;nofollow&quot;&gt;alternative accidental signs&lt;/a&gt;.]]></description>
		<content:encoded><![CDATA[<p>Thanks for the comment.  So you are proposing keeping the positions and directions of the triangles the same, but having the notes in the current key be hollow/white and those outside the current key be solid/black.  Which notes are black and white would change from key to key.  That might be an interesting approach, if more complex.  </p>
<p>The main drawback I see is that it would make notes and intervals harder to learn and recognize because their appearance would be less consistent.  I would rather have greater consistency.  You just have to shift how you think about the diatonic scale, no longer as something that needs to be &#8216;built-in&#8217; to the staff (as in traditional notation) or the notes (as you&#8217;re proposing) but as a particular pattern of intervals that you learn to easily recognize (see <a href="http://twinnote.org/learn/scales/" rel="nofollow">Scales</a>).  Making the interval relationships as clear as possible is the top priority, and then the diatonic scales and the rest will follow.  </p>
<p>Another way to put it is that whether a note is black or white is a very obvious, vivid aspect of a note, probably <em>the</em> most readily apparent thing about a note.  Wouldn&#8217;t it be better to use this to help distinguish pitches and interval patterns than to &#8220;waste&#8221; it on just indicating accidental notes?  It is already easy to tell if a note is an accidental because it would have one of TwinNote&#8217;s <a href="http://twinnote.org/learn/key-signatures-and-accidental-signs/" rel="nofollow">alternative accidental signs</a>.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on LilyPond Software with TwinNote by Jo Blow</title>
		<link>https://twinnote.clairnote.org/blog/2011/07/lilypond-software-with-twinnote/#comment-121</link>
		<dc:creator><![CDATA[Jo Blow]]></dc:creator>
		<pubDate>Thu, 23 Aug 2012 03:17:32 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/blog/?p=201#comment-121</guid>
		<description><![CDATA[I think you should change the notion a little to make it more logical. The half steps between E and F and B and C cause the diatonic notes to C above E to be &quot;flipped&quot; making one think that they are chromatic. e.g., below E the black triangles are diatonic and above E the are chromatic. 

Instead, On F use a UPWARD triangular white note. So E has a downward white note and F has an upward white note on the same line. This means a simple C major scale is all white notes with those below F point down and those above E pointing up.

What this means is that diatonic melodies will all be white notes in a very compact way and it also becomes easier to distinguish C D E from F G A B. Chromatic alterations are extremely obvious(black notes).

One could use a transposing system so that the order is always the same on different tonics. e.g., for whatever key we are in the half-steps do this flip-flop. This will produce diatonic melodies, regardless of key, to have all white notes.]]></description>
		<content:encoded><![CDATA[<p>I think you should change the notion a little to make it more logical. The half steps between E and F and B and C cause the diatonic notes to C above E to be &#8220;flipped&#8221; making one think that they are chromatic. e.g., below E the black triangles are diatonic and above E the are chromatic. </p>
<p>Instead, On F use a UPWARD triangular white note. So E has a downward white note and F has an upward white note on the same line. This means a simple C major scale is all white notes with those below F point down and those above E pointing up.</p>
<p>What this means is that diatonic melodies will all be white notes in a very compact way and it also becomes easier to distinguish C D E from F G A B. Chromatic alterations are extremely obvious(black notes).</p>
<p>One could use a transposing system so that the order is always the same on different tonics. e.g., for whatever key we are in the half-steps do this flip-flop. This will produce diatonic melodies, regardless of key, to have all white notes.</p>
]]></content:encoded>
	</item>
	<item>
		<title>Comment on Beethoven&#8217;s Für Elise in TwinNote, Typeset with LilyPond by TJ Martley</title>
		<link>https://twinnote.clairnote.org/blog/2012/04/beethovens-fur-elise-in-twinnote-typeset-with-lilypond/#comment-110</link>
		<dc:creator><![CDATA[TJ Martley]]></dc:creator>
		<pubDate>Fri, 29 Jun 2012 18:35:14 +0000</pubDate>
		<guid isPermaLink="false">http://twinnote.org/?p=802#comment-110</guid>
		<description><![CDATA[Isn&#039;t it great that we can find such quality free versions of great sheet music online nowadays?  I sometimes have to check my students scores, but most of them are very good.

Here&#039;s my renditions of Fur Elise:  http://www.youtube.com/watch?v=x-O0qb66AoQ

Thanks!
Tj
tjjazzpiano.blogspot.com]]></description>
		<content:encoded><![CDATA[<p>Isn&#8217;t it great that we can find such quality free versions of great sheet music online nowadays?  I sometimes have to check my students scores, but most of them are very good.</p>
<p>Here&#8217;s my renditions of Fur Elise:  <a href="http://www.youtube.com/watch?v=x-O0qb66AoQ" rel="nofollow">http://www.youtube.com/watch?v=x-O0qb66AoQ</a></p>
<p>Thanks!<br />
Tj<br />
tjjazzpiano.blogspot.com</p>
]]></content:encoded>
	</item>
</channel>
</rss>